build/
*.o
*.a
*.so
*.so.*
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
Makefile
*.cbp
.vscode/
results/runs.csv
instances/forest/
instances/inforest/
instances/outforest/
instances/toy/
